:root {
    --form-control-shadow-color: #FFD9B3;
    --nav-link-color: #FE7272;
    --nav-link-hover-color: #955095;
    --nav-bg-color: #D4B2D4;
    --input-not-valid-shadow-color: #DC3545;
    --input-valid-shadow-color: #198754;
    --button-main-color: #ffcc99;
    --button-hover-bg-color:  #ffd9b3;
    --button-hover-text-color: rgb(37, 37, 37);
    --button-text-color: black;
    --button-2-main-color: #ff9999;
    --button-2-hover-bg-color: #ffcccc;
    --button-3-main-color: #6fdc87;
    --button-3-hover-bg-color: #98e6a9;
    --button-4-main-color: #c2d6d6;
    --button-4-hover-bg-color: #e0ebeb;
    --button-5-main-color: rgb(250, 233, 0);
    --button-5-hover-bg-color: rgb(255, 253, 122);
    --row-selected-color: #ffe6cc;
}
@font-face {
    font-family: "QuickSand";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

body {
    font-family: "QuickSand";
}

li.nav-item {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

nav.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--nav-bg-color) !important;
}

a.nav-link {
    color: black !important;
}

a.nav-link:hover {
    color: var(--nav-link-hover-color) !important;
}

.form-control:focus, 
.form-select:focus, 
#dTableClients_previous a:focus, 
#dTableClients_next a:focus,
#dTable_next a:focus,
#dTable_previous a:focus,
li.active a.page-link {
    border-color: var(--form-control-shadow-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px var(--form-control-shadow-color);
}

#dTableClients_previous.disabled > a, 
#dTableClients_next.disabled > a,
#dTable_next.disabled > a,
#dTable_previous.disabled > a {
    color: grey !important;
}

.form-control.is-valid, .form-control.is-valid:focus {
    border: 1px solid var(--input-valid-shadow-color);
    box-shadow: none;
}

.form-control.is-invalid, .form-control.is-invalid:focus {
    border: 1px solid var(--input-not-valid-shadow-color);
    box-shadow: none;
}

.selected, .selected > .sorting_1 {
    background-color: var(--row-selected-color) !important;
    color: black !important;
}

a.page-link {
    color: black !important;
}

li.active a.page-link {
    color: white !important;
}

li.active > a{
    background-color: var(--nav-link-color) !important;
    border-color: var(--nav-link-color) !important;
}

a > i, button > i{
    margin-right: 5px !important;
}

a > i.no-margin, button > i.no-margin{
    margin-right: 0px !important;
}

#main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    margin-top: 20px;
}

hr {
    margin-bottom: 20px !important;
}

tr { height: 50px } 

h1.title {
    margin-bottom: 20px;
}

.button-spacing{
    padding: 10px !important;
}

/* Button styles*/
.my-button {
    color: var(--button-text-color);
    background-color: var(--button-main-color) !important;
    border: 1px solid var(--button-main-color) !important;
}

.my-button:not([disabled]):hover {
    background-color: var(--button-hover-bg-color) !important;
    border: 1px solid var(--button-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
}

.my-button:not([disabled]):active:focus {
    background-color: var(--button-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button:not([disabled]):active:hover {
    background-color: var(--button-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-2 {
    color: var(--button-text-color);
    background-color: var(--button-2-main-color) !important;
    border: 1px solid var(--button-2-main-color) !important;
}

.my-button-2:not([disabled]):hover {
    background-color: var(--button-2-hover-bg-color) !important;
    border: 1px solid var(--button-2-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
}

.my-button-2:not([disabled]):active:focus {
    background-color: var(--button-2-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-2:not([disabled]):active:hover {
    background-color: var(--button-2-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-3 {
    color: var(--button-text-color);
    background-color: var(--button-3-main-color) !important;
    border: 1px solid var(--button-3-main-color) !important;
}

.my-button-3:not([disabled]):hover {
    background-color: var(--button-3-hover-bg-color) !important;
    border: 1px solid var(--button-3-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
}

.my-button-3:not([disabled]):active:focus {
    background-color: var(--button-3-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-3:not([disabled]):active:hover {
    background-color: var(--button-3-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-4 {
    color: var(--button-text-color);
    background-color: var(--button-4-main-color) !important;
    border: 1px solid var(--button-4-main-color) !important;
}

.my-button-4:not([disabled]):hover {
    background-color: var(--button-4-hover-bg-color) !important;
    border: 1px solid var(--button-4-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
}

.my-button-4:not([disabled]):active:focus {
    background-color: var(--button-4-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-4:not([disabled]):active:hover {
    background-color: var(--button-4-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-5 {
    color: var(--button-text-color);
    background-color: var(--button-5-main-color) !important;
    border: 1px solid var(--button-5-main-color) !important;
}

.my-button-5:not([disabled]):hover {
    background-color: var(--button-5-hover-bg-color) !important;
    border: 1px solid var(--button-5-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
}

.my-button-5:not([disabled]):active:focus {
    background-color: var(--button-5-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.my-button-5:not([disabled]):active:hover {
    background-color: var(--button-5-hover-bg-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus,.btn:active {
outline: none !important;
box-shadow: none !important;
}

.my-btn-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

table tbody {
    text-align: right;
}

/*Hide steppers from inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}